.futer_wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbd7cb;
}
.futer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}
.futer img {
  height: 10rem;
  width: 10rem;
}

@media only screen and (max-width: 415px) {
  .futer {
    width: 90%;
  }
  p{
    font-size: 0.8rem;
  }

  .futer img {
    height: 5rem;
    width: 5rem;
  }

}
