.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content p {
  font-size: 25px;
}

.content_center {
  width: 40%;
  margin: 20px 0;
}

img{
  width: 100%;
}

@media only screen and (max-width: 940px) {
  .content_center {
    width: 90%;
  }

  .content p {
    font-size: 1.3rem;
  }
}
