.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px;
  width: 100%;
  background-color: #dbd7cb;
}
.header img {
  width: 600px;
}

.header {
  grid-area: hd;
}

.header_email {
  padding-right: 30px;
  font-size: 50px;
}
