.header_wrapper{
  position: relative;
  height: 50rem;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50rem;
  width: 100%;
  background-image: url("./bcg.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto ;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.header_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.header_title {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  padding: 5rem 10rem;
}

@media only screen and (max-width: 940px) {
  .header_wrapper{
    height: 30rem;
  }

  .header {
    height: 30rem;
  }

  .header_logo{
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
@media only screen and (max-width: 415px) {
  .header_wrapper{
    height: 10rem;
  }

  .header {
    height: 10rem;
  }

  .header_logo{
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .header_title {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    padding: 1rem 2rem;
  }
}
